<!-- app/views/orders/_add_dialog.html.erb -->

<div id="add_to_cart_dialog">
  Your item(s) have been added. You now have <%= order.item_count %> 
  items valued at <%= number_to_currency order.item_total %> in your cart.<br/>
  <div id="buttons" style="margin-top: 10px; width: 100%;">
    <button id="continue_shopping_button" style="float: left;" type="button">Continue Shopping (10)</button>
    <button id="view_cart_button" style="margin-left: 10px; float: left;clear: right;" type="button">Checkout Now</button>
  </div>
</div>